.toolbar-button {
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.toolbar-button-clicked {
    border: solid 1px #cccccc;
    background-color: #ffffff;
}

.toolbar-button-active {
    border: solid 1px #cccccc;
    background-color: #dddddd;
}

.toolbar-button-inactive {
    border: solid 1px #dddddd;
    background-color: #eeeeee;
}

.toolbar-container {
    border-style: solid;
    border-color: #888888;
    border-width: 0px 0px 1px 0px;
    background-color: #cccccc;
    padding: 2px;
}

.puzzle-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.puzzle-container-wrapper {
    display: inline-block;
    border: solid 1px #444444;
}

.puzzle-text {
    cursor: default;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
